.containerMaps3D {
  border-top-left-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  overflow-y: scroll;
}

.roundImgContainer, .printPhotoContainer {
    display: flex;
    justify-content: space-evenly;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-width: 250px;
}

.round-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .roundImgContainer, .printPhotoContainer {
        flex-direction: column;
    }

    .column {
        min-width: 100%;
        margin-bottom: 20px;
    }
}

.map3d {
  display: block;
  margin: auto;
  max-height: 600px
}